@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Normal {
  text-decoration: none;
  width: auto;
}

.Strike {
  text-decoration: line-through;
  width: auto;
}

.scrollBar {
  overflow: auto;
  height: 500px;
  position: relative;
}

.taskWidth {
  width: 400px;
  top: 50%;
}

.delButton {
  position: absolute;
  right: 0;
}